.sparkle {
    position: absolute;
    transform: rotate(180deg);
    opacity: 0.02;
    animation: sparkle 20s ease-in-out infinite;
}
@keyframes sparkle {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.img {
    display: none;
}
.loadBar{
    height: 200px;
    width: 50%;
}
